html {
    height: 100%;
}
body {
    background-image: url("img/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.joke {
    top: 5%;
    left: 5%;
    position: absolute;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    background-color: brown;
    width: 1000px;
    padding: 40px;
    border-radius: 25px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover; }